/*----------  General Style  ----------*/

body {
  background: #555;
}


/*----------  App Container  ----------*/

.app-container {
  max-width: 480px;
  margin: auto;
  background: #607d8b;
  border-radius: 2px;
  /* transform: translateY(50%); */
}


/*----------  Color Display, Above Sliders  ----------*/

.cs-color-choices {
  width: 320px;
  margin: 25px auto 10px;
  padding: 25px 0;
  text-align: center;
}

.cs-color-display { /* the circle thingy */
  display: inline-block;
  margin: 10px 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.cs-selected {
  border: 2px solid #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.37);
}

.more-or-less {
  margin-bottom: 10px;
  text-align: center;
}


/*----------  Add / Remove buttons  ----------*/

.btn-add,
.btn-remove {
  font-size: 24px;
  color: #f7f7f7;
  /* background: #f7f7f7; */
  display: inline-block;
  cursor: pointer;
  width: 50px;
  padding: 2px 6px;
  border: 1px solid #f7f7f7;
  border-radius: 30px;
  margin: 0 5px 20px;
}
.btn-add:hover,
.btn-remove:hover,
.btn-add:focus,
.btn-remove:focus
{
  color: #575757;
  background: #f7f7f7;
}
.btn-add:active,
.btn-remove:active
{
  color: #333;
  background: #c7d0d4;
}

.btn-disabled {
  color: #b5b5b5 !important;
  border-color: #607d8b;
}
.btn-disabled:hover {
  background: none;
}


/*----------  Slider Container & Sliders  ----------*/

.sliders-container {
  /* width: 360px; cause switching color performance issue */
  margin: auto;
  padding: 10px 0;
  background: #f7f7f7;
  /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.37); */
  border-radius: 2px;
  /* box-shadow + border-radius cause drag performance issue */
}

