body {
  background: #555;
}

.app-container {
  max-width: 480px;
  margin: auto;
  background: #607d8b;
  border-radius: 2px;
  /* transform: translateY(50%); */
}

.cs-color-choices {
  width: 320px;
  margin: 25px auto;
  padding: 25px 0 50px;
  text-align: center;
}

.cs-color-display {
  display: inline-block;
  margin: 10px 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.37);
}

.sliders-container {
  /* width: 360px; cause switching color performance issue */
  margin: auto;
  padding: 10px 0;
  background: #f7f7f7;
  /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.37); */
  border-radius: 2px;
  /* box-shadow + border-radius cause drag performance issue */
}

