<!DOCTYPE html>
<html lang="en" ng-app="ctiCpDemo">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>CTi Color Slider demo</title>
  <link href="dist/ctiColorSlider.css" rel="stylesheet">
  <link href="test_client/client.css" rel="stylesheet">
</head>
<body ng-controller="MainCtrl as vm">
  <div class="app-container">
    <div class="cs-color-choices">
      <div class="cs-color-display"
          ng-repeat="(key, color) in vm.colors"
          ng-class="{ 'cs-selected': vm.isSelected(key) }"
          ng-style="{ background: color.hex }"
          ng-click="vm.selectColor(key)" >
      </div>
    </div>
    <div class="more-or-less">
      <a class="btn-add" ng-click="vm.addColor()"
                         ng-class="{ 'btn-disabled': vm.disableAdd }">+</a>
      <a class="btn-remove" ng-click="vm.removeColor()"
                            ng-class="{ 'btn-disabled': vm.disableRm }">-</a>
    </div>
    <div class="sliders-container">
      <div cti-color-slider="vm.colorData"></div>
    </div>
  </div>
  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/hammerjs/hammer.js"></script>
  <!-- endbower -->
  <script src="dist/ctiColorSlider.js"></script>
  <script src="test_client/app.js"></script>
</body>
</html>

