<!DOCTYPE html>
<html lang="en" ng-app="ctiCsDemo">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>CTi Color Slider demo</title>
  <script>function cdnizerLoad(u) {document.write('<scr'+'ipt src="'+encodeURIComponent(u)+'"></scr'+'ipt>');}</script>
  <link href="/cti-color-slider/dist/ctiColorSlider.css" rel="stylesheet">
  <link href="client.css" rel="stylesheet">
</head>
<body ng-controller="MainCtrl as vm">
  <div class="app-container">
    <div class="cs-color-choices">
      <div class="cs-color-display"
          ng-repeat="(key, color) in vm.colors"
          ng-class="{ 'cs-selected': vm.isSelected(key) }"
          ng-style="{ background: color.hex }"
          ng-click="vm.selectColor(key)" >
      </div>
    </div>
    <div class="list-of-btns">
      <a class="btn btn-save" ng-click="vm.saveColors()">Save</a>
      <a class="btn btn-add" ng-click="vm.addColor()"
                         ng-class="{ 'btn-disabled': vm.disableAdd }">+</a>
      <a class="btn btn-remove" ng-click="vm.removeColor()"
                            ng-class="{ 'btn-disabled': vm.disableRm }">-</a>
    </div>
    <div class="sliders-container">
      <div cti-color-slider="vm.colorData"></div>
    </div>
  </div>
  <!-- bower:js -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script><script>if(!(window.angular)) cdnizerLoad("bower_components/angular/angular.js");</script>
  <script src="//hammerjs.github.io/dist/hammer.min.js"></script>
  <!-- endbower -->
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
  <script src="/cti-color-slider/dist/ctiColorSlider.js"></script>
  <script src="app.js"></script>
</body>
</html>

