[cti-color-slider] {
  /* modify to change width of color slider, responsive possible */
  position: relative !important;
  min-width: 300px;
  width: 320px;
  margin: auto;
}

.cti-slider-wrapper {
  /* top, bottom 20+20 = 40px is the minimum recommended size for touch */
  padding: 20px 0;
  margin: 5px auto;
  width: 100%;
  display: table;
}

.cti-canvas-slider {
  width: 100%; /* width relative to container */
  height: 5px; /* modify to change height of slider */
  display: table-cell;
  vertical-align: middle;
}
.round-edge {
  border-radius: 5px;
}

.cti-cp-wrapper {
  position: absolute;
  height: 16px;
  width: 16px;
  opacity: 0;
  z-index: 0;
  transition: transform .1s, opacity .5s;
}
.circular {
  border-radius: 50%;
}

.cti-cs-picker {
  position: absolute;
  height: 16px;
  width: 16px;
  border: 2px solid #fff;
  cursor: move;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*----------  Materialize  ----------*/
/* .cti-cp-wrapper:hover { */
/*   transform: scale(1.15, 1.15); */
/* } */

.cti-cp-wrapper:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1, 1);
  background: rgba(0,0,0,.2);
  border-radius: 50%;
  opacity: 0;
  transition: transform .3s, opacity .2s;
  z-index: -1;
}

.cti-cp-wrapper:active,
.cti-cp-wrapper--active {
  transform: scale(1.5, 1.5);
}
.cti-cp-wrapper:active:after,
.cti-cp-wrapper--active:after {
  opacity: .5;
  transform: translate(-50%, -50%) scale(2.5, 2.5);
}
